<h1>Автоморфные числа</h1>

<% if flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_tag("/automorf_number/view", :method => "get") do %>
 <%= label_tag("Максимальное число:") %>
 <%= text_field_tag(:val) %> <br/>
 <br/>
 <%= submit_tag("Результат") %>
<% end %>
