<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'styles', media: 'all' %>

</head>
<body>
<script>
  function addCard(){
    const img = button.dataset.img;
  }

</script>

  <% if admin_signed_in? %>
    <div class="container">
    <%= form_with(model: Card.new, url: cards_path, local:true, id: 'dynamicForm') do |form| %>
      <label for="card_img_url"> <%= t('ImageAdress') %> </label>
      <%= form.text_field :img_url, required: true %>

      <label for="card_description"> <%= t('Description') %> </label>
      <%= form.text_field :description, required: true %>

      <%= form.submit t('AddCard'), class: 'btn btn-info' %>

    <% end %>

    </div>

  <% end %>

  <div> <h1><%= t('OurCats') %></h1> </div>

  <div class="cardContainer">
    <% @k.each do |card| %>
      <div class="col-md-4">
        <div class="card-container">
          <div class="card">
            <div class="card-front">
              <img src= <%=card.img_url%> class="card-img-top" alt="Image">
              <%= form_tag(add_to_favorites_path, method: :post) do %>
                <%= hidden_field_tag :img_url, card.img_url %>
                <%= submit_tag "❤️", class: "favorite-button" %>

              <% end %>
            </div>
            <div class="card-back">
            <p style="font-size: 20px;" class="card-text text-center" rows="4"><%=card.description%></p>
            </div>
          </div>
          <% if admin_signed_in? %>
            <%= form_tag(delete_path+"?id=#{card.id}", method: :post) do %>
              <%= hidden_field_tag :id %>
              <%= submit_tag t('Delete'), class: 'btn btn-info' %>
            <% end %>
            <%= form_tag(change_path+"?id=#{card.id}", method: :post) do %>
              <label for="card_description"> <%= t('Description') %></label>
              <%= text_field :description, required: true %>
              <%= hidden_field_tag :id %>
              <%= submit_tag t('Change'), class: 'btn btn-info' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
  <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function () {
    $('.card').on('click', function () {
      $(this).toggleClass('is-flipped');
    });
  });
</script>
</body>
</html>
