<%= form_with(model: @card, url: cards_path, method: :post) do |form| %>
  <div>
    <%= form.label :img_url, 'Адрес изображения' %>
    <%= form.text_field :img_url, required: true %>
  </div>

  <div>
    <%= form.label :description, 'Описание' %>
    <%= form.text_area :description, required: true %>
  </div>

  <div>
    <%= form.submit 'Добавить карточку', class: 'btn btn-info' %>
  </div>
<% end %>
